
@charset "UTF-8";
@import url("common.css");
@import url("sideMenu.css");

.page-board{
	padding:70px 0 170px; 
	font-family: 'Noto Sans', sans-serif;
}

/* ////////////////////////////////////////// */
#detail>div{
	width: 820px;
	
}
#detail>div>div{
	padding-bottom: 28px;
}
#detail>div>div>p.page-tit{
	height: 42px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333;
}
#detail>div>div>p.page-tit .sub{
	font-size: 12px;
}
#detail div div.page-view table.detail-tit{
	width: 100%;
	
}
#detail div div.page-view table.detail-tit tr:first-child td{
	border-top: 2px solid #5f0080;
}
#detail div div.page-view table.detail-tit td{
	border-bottom: 1px solid #dcdbde;
	padding: 13px 0 13px 20px;
}
#detail div div.page-view table.detail-tit td.tit{
	background-color: #f7f5f8;
	width: 120px;
}
#detail div div.page-view div.content{
	padding: 30px 20px;
	border-bottom: 1px solid #5f0080;
}

#detail div div.page-view div.btn {
	padding: 20px 0;
	border-bottom: 2px solid #5f0080;
	text-align: right;
}
#detail div div.page-view div.btn button{
	width:150px;
	height:42px;
	border:none;
	background-color: #795B8f;
	color: #FFF;
}

#detail div div.page-view div.btn button:hover {
	background-color: #5f0080;
	cursor: pointer;
}

#edit-wrap table tr td input,
#edit-wrap .content textarea {
	width: 100%;
}

